[submodule "Assets/Scripts/Physics"]
	path = Assets/Scripts/Physics
	url = https://github.com/mikkelens/unity-custom-physics
[submodule "Assets/Scripts/Tools"]
	path = Assets/Scripts/Tools
	url = https://github.com/mikkelens/unity-script-tools
[submodule "Assets/WebGLTemplates"]
	path = Assets/WebGLTemplates
	url = https://github.com/mikkelens/unity-webgl-template
